@font-face {
    font-family: tex_gyre_regular;
    src: url('../fonts/Tex-Gyre/texgyreheros-regular-webfont.eot');
    src: url('../fonts/Tex-Gyre/texgyreheros-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Tex-Gyre/texgyreheros-regular-webfont.woff') format('woff'),
         url('../fonts/Tex-Gyre/texgyreheros-regular-webfont.ttf') format('truetype'),
         url('../fonts/Tex-Gyre/texgyreheros-regular-webfont.svg#noto_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: tex_gyre_bold;
    src: url('../fonts/Tex-Gyre-Bold/texgyreheros-bold-webfont.eot');
    src: url('../fonts/Tex-Gyre-Bold/texgyreheros-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Tex-Gyre-Bold/texgyreheros-bold-webfont.woff') format('woff'),
         url('../fonts/Tex-Gyre-Bold/texgyreheros-bold-webfont.ttf') format('truetype'),
         url('../fonts/Tex-Gyre-Bold/texgyreheros-bold-webfont.svg#noto_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: DejaVuSans;
    src: url('../fonts/DejaVu Book/DejaVuSans-webfont.eot');
    src: url('../fonts/DejaVu Book/DejaVuSans-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/DejaVu Book/DejaVuSans-webfont.woff') format('woff'),
         url('../fonts/DejaVu Book/DejaVuSans-webfont.ttf') format('truetype'),
         url('../fonts/DejaVu Book/DejaVuSans-webfont.svg#dejavu_sansbook') format('svg');
    font-weight: normal;
    font-style: normal;
}
