* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

html {
    font-family: tex_gyre_regular, Arial, sans-serif;
    font-size: 1em;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    color: #333;
}

a:link {
    text-decoration: none;
    outline: none;
    color: #333;
}

a:visited {
    text-decoration: none;
    outline: none;
    color: #333;
}

a:hover {
    text-decoration: none;
    outline: none;
}

a {
    text-decoration: none;
    outline: none;
}

img {
    border: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td, th {
    padding: 0;
}

main, footer, header, article, section, aside, figure, figcaption, hgroup, menu, nav, details, summary {
    display: block;
}

audio, video, canvas, progress {
    vertical-align: baseline;
    display: inline-block;
}


html, body, .page {
    height: 100%;
    display: block;
}

.center {
    min-height: 100%;
    position: relative;
    padding-bottom: 120px;
}

footer {
    position: relative;
    height: 120px;
    margin-top: -115px;
}






html {
    overflow-y: scroll;
}

body {
    background: #f6f6f6;
}

header {
    height: 190px;
}

.high-panel {
    height: 34px;
    background: #5a5a5a;
}

div.city-menu {
    position: relative;
    display: inline-block;
    left: -7px;
    padding-right: 55px;
    height: 35px;
    vertical-align: top;
    cursor: pointer;
    color: #f5f5f5;
    transition: color 0.15s;
}

div.city-menu:hover {
    color: #ff9;
}

.high-info-block, .high-phone-block, .high-auth-block {
    display: inline-block;
    padding-top: 6px;
    font-size: 14px;
}

.high-phone-block, .high-auth-block {
    float: right;
}

.high-phone-block {
    padding-right: 10px;
}

a.high-info-block-link {
    color: #fff;
    padding-right: 30px;
    transition: color 0.15s ease;
}
a.high-info-block-link:hover {
    color: #ff9;
}

a.high-auth-block-link {
    padding-left: 15px;
    padding-right: 0;
}

.logo-block {
    float: left;
    height: 130px;
    width: 130px;
    padding-top: 21px;
}

.logo-block img {
    width: 130px;
    height: auto;
}

.city-menu-label {
    display: inline-block;
    position: relative;
    top: -8px;
    font-size: 0.95em;
    text-decoration: underline;
    text-decoration-style: dotted;
}



.authorization-block {
    float: right;
    height: 29px;
    width: 190px;	
    text-align: right;
    background: #f171b8;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    padding: 2px 8px;
}

.authorization-left-container {
    float: left;
}

.authorization-right-container {
    float: right;
}

.authorization-block a {
    color: #fff;
    font-size: 15px;
}

.authorization-block a:hover {
    color: #ff6;
}

.cart-block {
    float: right;
    width: 140px;
    height: 35px;
    color: #fff;*/
    text-align: center;
    border: 2px solid #333;
    border-left: none;
    border-bottom: none;
    cursor: pointer;
    color: #333;
    font-size: 16px;

    border-radius: 0 6px 0 0;
    padding: 1px 3px 5px 0;
    margin-top: 25px;
    transition: all 0.20s ease;
}

.cart-block a {
    color: inherit;
    padding-left: 2px;
    padding-top: 4px;
    display: inline-block;
    vertical-align: top;
}

.cart-block:hover {
    color: #2CCCBC;
    border: 2px solid #3cb;
    border-left: none;
    border-bottom: none;
}



.menu-panel {
    height: 35px;
    background: #d13;
}

footer {
    padding-top: 20px;
    background: #5a5a5a;
}

.main-panel {
    max-width: 1200px;
    margin: 0 auto;
}

.high-menu {
    list-style-type: none;	
}

.high-menu > li {
    display: block;	
    float: left;	
    margin-right: 50px;
}

.high-menu a {
    display: block;	
    float: left;
    width: 100px;
    margin-right: 0 5px;
    color: #fff;
    padding: 3px 0 7px;
    font-size: 18px;
    transition: color 0.15s;
}

.high-menu a:hover {
    color: #ff9;
}

.content-field {
    padding-top: 40px;
}

.left-block {
    width: 20%;
    float: left;
    border-right: 1px solid #ccc;
    min-height: 500px;
}

.left-menu {
    list-style-type: none;
}

.left-menu > li {
    position: relative;
}

.left-menu > li > a {
    margin-bottom: 15px;
    display: block;
    color: #dc2f79;
    font-size: 17px;
    width: 95%;
    padding: 10px 10px;
}

.left-menu > li > a:hover {
    background: #dc2f79;
    color: #fff;
}

.left-menu > li ul {
    visibility: hidden;
    position: absolute;
    list-style-type: none;
    left: 100%;
    top: 0;
    z-index: 10;
}

.left-menu > li ul > li {
    margin-left: 5px;
}

.catalog-filter {
    padding: 5px;
}

.catalog-filter-item {
    padding: 10px 0;
}

.catalog-filter h4 {
    font-weight: normal;
    font-size: 16px;
    display: block;
    padding-bottom: 15px;
}

.catalog-filter-choice {
    display: block;
    width: 165px;
    
    font-size: 16px;
    font-family: Calibri;
    padding: .1em 1.4em .2em .15em;
    border: 1px solid #ccc;
    cursor: pointer;
    
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23059988%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
    	background-position: right .4em top 50%, 0 0;
    background-size: .50em .70em, 100%;
    background-repeat: no-repeat, repeat;
    vertical-align: middle;
    box-shadow: 1px 1px 2px 0 rgba(190, 190, 190, 0.2);
    transition: color 0.2s;
}

.catalog-filter-buttons, .catalog-filter-discard-buttons {
    text-align: left;
    padding-top: 20px;
}

.catalog-filter-button-run, .catalog-filter-button-discard {
    display: inline-block;
    margin: 0 auto;
    width: 165px;
    padding: 7px 7px;
    cursor: pointer;
    background: transparent;
    border: 1px solid #3cb;
    font-size: 16px;
    color: #2ba;
    -webkit-transition: background 0.08s;
    -moz-transition: background 0.08s;
    -o-transition: background 0.08s;
    transition: background 0.08s;
}

.catalog-filter-button-run:hover, .catalog-filter-button-discard:hover {
    background: #3cb;	
    color: #fff;
}






.nested-link {
    border: 1px solid #bbb;
    border-top:none;
    border-bottom: 1px solid #ddd;
}

li.nested-link:first-child{
    border-top: 1px solid #ccc;
}

li.nested-link:last-child{
    border-bottom: 1px solid #ccc;
}

.left-menu > li ul > li > a {
    white-space: nowrap;
    display: block;
    padding: 10px 14px;
    font-size: 17px;
    color: #dc2f79;
    background: #f3f3f3;
}

.left-menu > li:hover ul {
    visibility: visible;
}

.left-menu > li:hover > a {
    background: #dc2f79;
    color: #fff;
}

.left-menu > li:hover ul a:hover  {
    background: #dc2f79;
    color: #fff;
}






.left-full-menu {
    list-style-type: none;
    color: #5a5a5a;
}

.left-full-menu > li {
    position: relative;
    margin-bottom: 15px;
}

.left-full-menu > li > a {
    display: block;
    font-size: 17px;
    width: 95%;
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
}

.left-full-menu > li > a > span {
    vertical-align: top;
    padding-top: 5px;
    padding-left: 5px;
    font-size: 16px;
    display: inline-block;
    max-width: 170px;
}

.left-full-menu > li > a:visited {
    color: #5a5a5a;
}

.left-full-menu > li > a:hover {
    color: #fff;
    background: #3cb;
}

.left-full-menu > li ul {
    visibility: hidden;
    position: absolute;
    list-style-type: none;
    left: 100%;
    top: 0;
    z-index: 10;
    background: #eee;
    padding: 5px 90px 25px 25px;
}   

.left-full-menu > li ul > li {
    white-space: nowrap;
    display: block;
    line-height: 1.6;
}

.left-full-nested-title-link {
    display: block;
    margin: 18px 0 5px;
    font-weight: bold;
}

.left-full-menu > li ul > li > a {
    font-size: 14px;
    color: #000;
}

.left-full-menu > li:hover ul {
    visibility: visible;
}

.left-full-menu > li:hover ul a:hover  {
    color: #2ba;
}











.main-second-row {
    position: relative;
    margin-top: 25px;
    margin-bottom: 40px;
}

.main-popular-items-name, .main-widget-name {
    text-align: center;
    font-size: 25px;
    padding-bottom: 30px;
}

.main-popular-items-link {
    padding: 15px 0 30px;
    text-align: center;	
}

a.main-popular-link-button {
    padding: 8px 18px;
    background: none;
    border: 1px solid #3cb;
    color: #2ba;
    cursor: pointer;
    font-size: 19px;
}

.main-popular-link-button:hover {
    background: #3cb;	
    color: #fff;
}

.main-item-day-block {
    width: 48%;
    float: left;
}

.main-news-block {
    width: 45%;
    float: left;
}





.news-container {
    padding: 30px 0 50px;
	
}

.news-item {
    min-height: 120px;
    margin: 0 0 30px;
    background: #ededed;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-size: 12px;
    padding: 8px;
}

.news-item-image {
    max-width: 90px;
    margin-right: 20px;
    float: left;
    width: 12%;
}

.news-item-image img {
    width: 100%;
    height: auto;	
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.news-item-link{
    display: block;
    padding-bottom: 2px;
    font-size: 14px;
    transition: 0.15s;
}

.news-item-link:hover {
    color: #eb5;
}

.news-item-date {
    font-size: 12px;	
    color: #888;
    padding-bottom: 8px;
    cursor: default;
    unselectable: on;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

.news-item-text {
    width: 88%;
    float: left;
}

.news-tile-summary {
    font-size: 14px;
    padding-bottom: 20px;
    color: #5b5b5b;
}

.news-tile-pager {
    text-align: center;
}

.news-tile-pager > ul {
    list-style-type: none;
}

.news-tile-pager > ul > li {
    display: inline-block;
    margin: 0 3px;
}

.news-tile-pager > ul > li > a, .news-tile-pager > ul > li > span {
    display: block;
    padding: 5px 10px;
    color: #e650a3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.news-tile-pager > ul > li > a:hover {
    background: #e650a3;
    color: #fff;
}

.news-item-divide {
	padding-bottom: 10px;
}


.news-detail-name-block {
	padding-bottom: 5px;
	font-size: 22px;
	line-height: 1.3;
}

.news-detail-date {
	padding-bottom: 30px;
	font-size: 13px;
	color: #888;
}

.news-detail-image {
	float: left;
	width: 25%;
	text-align: center;
}

.news-detail-image img {
	width: 100%;
	height: auto;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	border: 1px solid #eee;
	box-shadow: 1px 1px 5px 0 rgba(150, 150, 150, 0.2);
}

.news-detail-text {
	float: right;
	width: 70%;	
}

.news-detail-buttons-block {
	margin: 20px 0;
}


.news-detail-return {
	margin: 40px auto 50px;
	border-top: 1px solid #ccc;
	padding-top: 10px;
	font-size: 15px;
	text-align: right;
	width: 100%;
}

.news-detail-return > a {
	color: #2ba;
	transition: color 0.15s;
}
.news-detail-return a:hover {
	color: #f60;
}

.news-detail-comments {
    border-top: 1px solid #ccc;
    padding-top: 20px;
    margin: 40px auto 0;
    text-align: center;
}

.news-detail-comments h3 {
    font-weight: normal;
    display: block;
    padding-bottom: 20px;
}

.news-detail-comments-item {
    padding: 6px 16px;
    margin: 12px 0px;
    width: 93%;
    display: inline-block;
    border-top: 1px solid #ccc;
    text-align: left;
    font-size: 14px;
}

.news-detail-comments-login {
    font-size: 17px;
    margin-bottom: 2px;
}

.news-detail-comments-date {
    font-size: 13px;
    color: #777;
    margin-bottom: 8px;
}





.catalog-index-items-tile {
	padding-top: 30px;
}

div.catalog-item:nth-of-type(3n-2) {
	margin-left: 0%;
}

.catalog-index-item {
	margin: 0 2% 30px;
	background: #fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #e4e4e4;
	padding: 14px;
	float: left;
	width: 46%;
	padding-top: 30px;
	box-shadow: 1px 1px 5px 0 rgba(150, 150, 150, 0.2);
}

.catalog-index-item-image {
	position: relative;
	height: 260px;
	text-align: center;
	overflow: hidden;
}

.catalog-index-item-image img {
	width: auto;
	height: 100%;
}

.catalog-index-item-name {
	height:155px;
	font-size: 14px;
	padding: 50px 0 30px;
	font-weight: 400;
	text-align: center;
	font-size: 26px;
}


.catalog-index-list-name > a {
	padding: 8px;
	background: none;
	border: 1px solid #2ba;
	color: #2ba;
	cursor: pointer;
	width: 80%;
	display: block;
	margin: 0 auto 20px;
	text-align: center;
}

.catalog-index-list-name > a:hover {
	background: #2ba;	
	color: #fff;
}

.catalog-index-return {
	text-align: center;
	padding-bottom: 40px;
	font-size: 18px;
}

.catalog-index-return a {
	color: #06a07a;
	transition: color 0.1s;
	text-decoration: underline;
}

.catalog-index-return a:hover {
	color: #08c588;
}

.no-select {
	unselectable: on;
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;
}








.catalog-items-tile {
    min-height: 600px;
    padding-top: 30px;
    padding-bottom: 50px;
}

.catalog-tile-summary {
    font-size: 14px;
    padding-bottom: 10px;
    color: #5b5b5b;
}

div.catalog-item:nth-of-type(3n-2) {
    margin-left: 0%;
}

.catalog-tile-options {
    font-size: 14px;
    padding-bottom: 30px;
    color: #5b5b5b;
}

.sort-choice {
    display: block;
    float: left;
    padding-top: 3px;
}

.sort-choice-label, .sort-choice-price, .sort-choice-rating {
    margin-right: 50px;
}

.sort-choice-price, .sort-choice-rating {
    cursor: pointer;
    text-decoration: underline;
    text-decoration-style: dotted;
    transition: color 0.15s;
    color: #1a9;
}

.sort-choice-price:hover, .sort-choice-rating:hover {
    color: #f60;
}
    

.pagination-choice {
    display: block;
    float: right;
    width: 50px;
    
    font-size: 16px;
    font-family: Calibri;
    padding: .1em 1.4em .2em .15em;
    border: 1px solid #ccc;
    cursor: pointer;
    
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23059988%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
    	background-position: right .4em top 50%, 0 0;
    background-size: .50em .70em, 100%;
    background-repeat: no-repeat, repeat;
    vertical-align: middle;
    box-shadow: 1px 1px 2px 0 rgba(190, 190, 190, 0.2);
    transition: color 0.2s;
}

.pagination-choice:hover {
    color: #888;
}

.label-pagination-choice {
    float: right;
    padding: 3px 8px 0;
    
}

.pagination-view-type {
    display: block;
    float: right;
    height: 27px;
}










.catalog-item {
    margin: 0 2% 30px;
    background: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #e4e4e4;
    font-size: 12px;
    padding: 20px;
    float: left;
    width: 31%;
    padding-top: 30px;
    box-shadow: 1px 1px 5px 0 rgba(150, 150, 150, 0.2);
}

.catalog-item-image {
    position: relative;
    height: 140px;
    text-align: center;
    overflow: hidden;
}

.catalog-item-image img {
    width: auto;
    height: 100%;
}

.catalog-item-name {
    height: 70px;
    font-size: 14px;
    padding: 30px 0 15px;
    font-weight: 400;
    line-height: 1.2;

}

.catalog-item-name a {
    transition: color 0.15s;
}

.catalog-item-name a:hover {
    color: #2ba;
}

.catalog-item-text {
    padding: 20px 0 10px;	
    color: #999;	
    height: 130px;
    width: 97%;
}
.catalog-item-text-big {
    height: 180px;
}

.catalog-item-text a {
    display: block; 
    padding-top: 8px;
    color: #1a9;
    transition: color 0.05s;
}

.catalog-item-text a:hover {
    color: #f60;
}

.catalog-item-price {
    font-size: 21px;
    padding-bottom: 20px;
    font-weight: bold;
}

.catalog-item-rating-container {
    padding-bottom: 10px;
}

.catalog-item-rating-block {
    color: #ccc;
    letter-spacing: 1px;
    user-select: none;
    font-size: 1.8em;
}

.catalog-item-rating-block i {
    color: #2ba;
    font-style: normal;
}
	
.catalog-item-button {
    margin-bottom: 5px;
}

.catalog-item-button > button, .catalog-item-line-button > button {
    display: block;
    margin: 0 auto;
    width: 100%;
    padding: 7px 7px;
    cursor: pointer;
    background: #fff;
    border: 2px solid #3cb;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-size: 18px;
    color: #2ba;

    -webkit-transition: background 0.08s;
    -moz-transition: background 0.08s;
    -o-transition: background 0.08s;
    transition: background 0.08s;
}

.catalog-item-button > button:hover, .catalog-item-line-button > button:hover {
    background: #3cb;	
    color: #fff;
}


.catalog-item-line {
    margin-bottom: 20px;
    background: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #e4e4e4;
    box-shadow: 1px 1px 5px 0 rgba(150, 150, 150, 0.2);
}

.catalog-item-line-container {
    border-radius: 4px;
    position: relative;
}

.catalog-item-line-image-container {
    float: left;
    width: 22%;
    margin-right: 2%;
    min-width: 185px;
}

.catalog-item-line-info {
    float: right;
    width: 76%;
    min-width: 500px;
}

.catalog-item-line-image {
    position: relative;
    height: 185px;
    text-align: left;
    overflow: hidden;
    margin: 15px;
    padding: 15px;
    width: 185px;
}

.catalog-item-line-image img {
    width: auto;
    height: 100%;
}

.catalog-item-line-title {
    padding: 18px 0 10px;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.25;
}

.catalog-item-line-title a {
    transition: color 0.15s;
    max-width: 450px;
    display: inline-block;
    color: #000;
}

.catalog-item-line-title a:hover {
    color: #2ba;
}

.catalog-item-line-text {
    padding: 15px 0 10px;
    font-size: 14px;
    color: #999;
    width: 68%;
    padding-bottom: 35px;
}

.catalog-item-line-text a {
    display: block;
    padding-top: 8px;
    color: #1a9;
    transition: color 0.05s;
}

.catalog-item-line-text a:hover {
    color: #f60;
}

.catalog-item-line-button {
    position: absolute;
    bottom: 15px;
    right: 15px;
    width: 150px;
}

.catalog-item-line-button > button {
    border: 1px solid #3cb;
    font-size: 17px;
}

.catalog-item-line-rating {
    font-size: 16px;
}

.catalog-item-line-rating span {
    font-size: 22px;
}

.catalog-item-line-price {
    position: absolute;
    top: 15px;
    right: 15px;
    font-weight: bolder;
    font-size: 24px;
}














.catalog-tile-pager {
    text-align: center;
}

.catalog-tile-pager > ul {
    list-style-type: none;
}

.catalog-tile-pager > ul > li {
    display: inline-block;
    margin: 0 5px;
}

.catalog-tile-pager > ul > li > a, .catalog-tile-pager > ul > li > span {
    display: block;
    padding: 3px 10px;
    border: 1px solid #1a9;
    color: #1a9;;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.catalog-tile-pager > ul > li > a:hover {
    background: #1a9;
    color: #fff;
}

.catalog-item-divide {
    padding-bottom: 30px;
}


.catalog-detail-name-block {
    padding-bottom: 40px;
    font-size: 24px;
    width: 86%;
}

.catalog-detail-image {
    float: left;
    width: 40%;
    text-align: center;
}

.catalog-detail-image img {
    width: 100%;
    height: auto;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.catalog-detail-text {
    float: right;
    width: 56%;	
}

.catalog-detail-buttons-block {
    margin: 20px 0;
}

.catalog-detail-buttons-block > button {
    display: block;
    width: 44%;
    padding: 6px;
    cursor: pointer;
    background: inherit;
    border: 1px solid #d13;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 19px;
    color: #d13;

    transition: background 0.1s;
}

.catalog-detail-buttons-block > button:hover {
    background: #d13;	
    color: #fff;	
}

.catalog-detail-return {
    margin: 40px auto 50px;
    border-top: 1px solid #ccc;
    padding-top: 10px;
    font-size: 15px;
    text-align: right;
    width: 90%;
}

.catalog-detail-return > a {
    color: #1c9;
    transition: color 0.1s;
}

.catalog-detail-return a:hover {
    color: #f60;
}


.catalog-detail-text-container {
    padding-top: 45px;
}

.catalog-detail-text-container > div {
    padding-bottom: 30px;
}

.catalog-detail-text-container h4 {
    display: block;
    padding-bottom: 10px;
    font-size: 1.1em;
}

.catalog-detail-text-container h4:before {
    content: "";
    height: 1px;
    width: 100%;
    display: block;
    border-top: 1px solid #ccc;
    padding-bottom: 5px;
}



.catalog-detail-text-container span {
    display: block;
    line-height: 1.6;
}

.catalog-detail-text-container p:first-of-type:after {
    content: 'Описание';
    display: block;
    padding: 30px 0 20px;
    font-size: 19px;
    font-weight: bold;
}


.catalog-detail-offset {
    width: 90%;
    height: 20px;
    border-bottom: 1px solid #ccc;
    margin: 0 auto;
    padding-top: 30px;
}

.catalog-detail-price {
    font-size: 24px;
    background: #ececec;
    padding: 6px 10px;
    width: 44%;
    text-align: center;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}






.right-block {
	width: 78%;
	float: right;
	min-height: 500px;
}

section.full-right-block {
	width: 100%;
	min-height: 500px;
}


.login-form, .register-form, .update-form {
	padding-top: 20px;
}

.login-form-item, .register-form-item, .update-form-item, .order-form-item {
	margin: 15px 0;
}

.login-form-item > label, .register-form-item > label, .update-form-item > label, .order-form-item > label {
	font-size: 14px;
	display: block;
	padding-bottom: 10px;
}

.login-form-item input[type="text"], .login-form-item input[type="password"], .register-form-item input[type="text"], .register-form-item input[type="password"], 
    .update-form-item input[type="text"], .update-form-item input[type="password"], .order-form-item input[type="text"] {
	padding: 3px;
	width: 200px;
}

.login-form-item input[type="submit"], .register-form-item input[type="submit"], .update-form-item input[type="submit"], .order-form-item input[type="submit"],
    .order-form-submit, .user-form-submit {
	display: block;
	width: 150px;
	padding: 5px;
	position: relative;
	margin-top: 25px;
}

.login-message-field ul, .register-message-field ul, .update-message-field ul, .order-message-field ul {
	list-style-type: none;
	font-size: 14px;
	color: red;
	padding-bottom: 10px;
}

.login-message-field ul > li, .register-message-field ul > li, .update-message-field ul > li, .order-message-field ul > li {	
	padding-bottom: 3px;
}
	
	
	
	
	
.cart-item-container {
	position: relative;
	margin-top: 50px;
	border-top: 2px solid #e3e3e3;
	padding-top: 30px;
}

.cart-item-point-strip {
	background: #eee;
}	

.cart-item-point:first-child {
	border-top: none;
}

.cart-item-point > div {
	float: left;	
	padding-top:8px;
	text-align: center;
}
	
.cart-item-id {
	width: 6%;
	height: 60px;
}
	
div.cart-item-name {
	width: 54%;
	text-align: left;
	padding-left: 15px;
}

.cart-item-name > a {
	transition: color 0.08s;
}

.cart-item-name > a:visited {
	color: #333;
}

.cart-item-name > a:hover {
	color: #eb5;
}

.cart-item-image {
	width: 7%;
	text-align: right;
}
	
div.cart-item-price {
	width: 7%;
	text-align: right;
}
	
.cart-item-quantity {
	width: 10%;
}	
	
.cart-item-actions {
	width: 10%;
	text-align: center;
}	
	
.cart-item-info {
	margin-top: 30px;
	position: relative;
	border-top: 2px solid #e3e3e3;
	height: 100px;
	padding-top: 35px;
}	
	
.cart-item-info-price {
	float: left;
	width: 45%;
	font-size: 15px;
}
	
.cart-order-button-block {
	float: right;
	width: 40%;
	text-align: right;	
}


a.cart-order-button {
	padding: 8px;
	background: none;
	border: 1px solid #2ba;
	color: #1a9;
	cursor: pointer;
}

.cart-order-button:hover {	
	background: #2ba;	
	color: #fff;
}

.cart-item-delete {
	cursor: pointer;
}

.cart-item-add {
	cursor: pointer;
}

.sale-no-items-header, .sale-success-header {
	font-size: 20px;
	padding-bottom: 40px;
}

a.sale-no-items-return, a.sale-success-return {
	color: #dc2f79;
	text-decoration: underline;
	transition: color 0.15s;
}
.sale-no-items-return:hover {
	color: #eb5;
}










.order-container {
	padding-top: 20px;
}

.order-info-help {
	padding-top: 10px;
	font-size: 14px;
	color: #777;
}

.order-left-part {
	float: left;
	width: 35%;
}

.order-right-part {
	float: right;
	width: 55%;
}

.order-message-field {
	margin-bottom: 0px;
}

.order-message-field ul {
	padding-bottom: 0px;
}

.order-items-info {
	font-size: 22px;
	padding-bottom: 30px;
	line-height: 0.8;
}

.order-item-container {
	display: table;
}

.order-item-point {
	display: table-row;
}

.order-item-image {
	width: 11%;	
	display: table-cell;
	vertical-align: middle;
}

.order-item-image img {
	unselectable: on;
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;
}

.order-item-name {
	display: table-cell;
	width: 89%;
	vertical-align: middle;
}

.order-item-name-text {
	font-size: 15px;
	padding: 10px 0;
	display: inline-block;
	position: relative;
	top: -0.4em;
	cursor: default;
	unselectable: on;
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;
}

.order-item-offset {
	height: 15px;
}

.order-cart-return {
	padding-top: 20px;
	color: #dc2f79;
	text-align: right;
}

.order-cart-return a {
	color: #dc2f79;
	transition: color 0.15s;
	text-decoration: underline;
}

.order-cart-return a:hover {
	color: #eb5;
}

.order-quantity-items {
	font-weight: bold;
}








.cabinet-menu-container {
	padding-top: 60px;
}

.cabinet-menu-point {
	padding-bottom: 50px;
	font-size: 20px;
}

.cabinet-menu-point > a, .cabinet-update-link > a, .cabinet-order-return > a {
	text-decoration: underline;
	color: #dc2f79;
	transition: color 0.15s;
}

.cabinet-menu-point > a:hover, .cabinet-update-link > a:hover, .cabinet-order-return > a:hover {
	color: #eb5;
}

.cabinet-order-container {
	padding-top: 50px;
	display: table;
}

.cabinet-order-item-point {
	display: table-row;
}

.cabinet-order-item-point > div {
	display: table-cell;
	text-align: center;
	vertical-align: top;
	padding-top: 10px;
}

.cabinet-order-item-id {
	width: 5%;
}

.cabinet-order-item-date {
	width: 11%;
	
}

.cabinet-order-item-products {
	width: 59%;	
	padding-top: 10px;
}

.cabinet-order-item-price {
	width: 13%;	
}

.cabinet-order-item-status {
	width: 12%;	
}

.cabinet-order-item-products-point {
	vertical-align: middle;
	display: table-row;
}

.cabinet-order-item-products-point > div {
	display: table-cell;
	vertical-align: middle;
}

.cabinet-order-item-point-image {
	min-width: 15%;
}

.cabinet-order-item-point-name {
	display: inline-block;
	width: 85%;
	text-align: left;
	position: relative;
	top: -3px;
}

.cabinet-order-light-item-fon {
	background: #eee;
}

.cabinet-order-dark-item-fon {
	background: #e3e3e3;
}

.cabinet-order-item-offset {
	height: 40px;
	display: table-row;
}

.cabinet-order-products-item-offset {
	display: table-row;
	height: 10px;
}

.cabinet-order-return {
	padding: 10px 0 30px;
}

.cabinet-no-orders {
	padding: 60px 0 50px;
	font-size: 16px;
	color: #888;
}

.cabinet-update-link {
	padding-top: 10px;
}

.update-form-item input[type="submit"], .update-form-item .user-form-submit {
	width: 200px;
	word-break: break-all;
}







.contact-common-container {
	
}

.contact-left-block {
    float: left;
    width: 22%;
    border-right: 1px solid #ccc;
}

.contact-menu {
    list-style-type: none;
}

.contact-menu > li {
	position: relative;
}

.contact-menu > li > a {
	margin-bottom: 15px;
	display: block;
	color: #5a5a5a;
	font-size: 17px;
	width: 95%;
	padding: 10px 10px;
}

.contact-menu > li > a:hover {
	background: #2CCCBC;
	color: #fff;
}

.contact-right-block {
	float: right;
	width: 72%;
}

.contact-head-name {
	font-size: 24px;
}

.contact-text {
	font-size: 15px;
	margin-bottom: 80px;
}

.contact-paragraph-name {
	font-size: 19px;
	padding: 40px 0 15px;
}

.contact-info-paragraph-name {
	font-size: 19px;
	padding: 40px 0 8px;
}

.contact-info-paragraph-short {
	padding-bottom: 4px;
}

.contact-paragraph-list, .contact-paragraph-policy-list {
	padding-top: 10px;
	list-style-type: disc;
}

.contact-paragraph-policy-list {
	list-style-type: decimal;
	padding-left: 40px;
}

.contact-paragraph-list > li, .contact-paragraph-policy-list > li {
	padding-bottom: 20px;
}

.contact-paragraph-list > li > span, .contact-paragraph-policy-list > li > span {
	padding-bottom: 4px;
	display: block;
	font-weight: bold;
}

.contact-paragraph-policy-list > li > span {
	font-weight: normal;
}

.contact-paragraph {
	line-height: 1.3;
}

.contact-info-paragraph a {
	color: #1a9;
	text-decoration: underline;
	transition: color 0.15s;
}

.contact-info-paragraph a:hover {
	color: #f60;
}

.contact-info-paragraph {
	line-height: 1.6;
}

.contact-map {
	padding: 5px 0 20px;
}

.contact-map > iframe {
	border: 1px solid #ccc;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

















.test-buy {
	display: block;
	padding-top: 40px;
}


/*Для определения размеров в зависимости от высоты*/
.circle-height-container {
	height: 30px;
	text-align: center;
}

.circle-height-container img {
    width: auto;
    height: 100%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}	
	
/*Для определения размеров в зависимости от ширины*/	
.circle-width-container {
    width: 80%;
    text-align: center;
    display: inline-block;
}	

.circle-width-container img {
    width: 100%;
    height: auto;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;	
}	

.circle-width-cart-container {
    max-width: 50px;
}	
	
	
	
	
.widget-items-container {
    width: 90%;
    margin: 0 auto;
}	
	
.widget-item-point {
    margin: 0 1% 30px;
    background: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #e4e4e4;
    font-size: 14px;
    padding: 18px;
    float: left;
    width: 31%;
    padding-top: 30px;
    box-shadow: 1px 1px 5px 0 rgba(150, 150, 150, 0.2);
}

.widget-item-point-image {
    position: relative;
    height: 170px;
    text-align: center;
    overflow: hidden;
}

.widget-item-point-image img {
    width: auto;
    height: 100%;
}

.widget-item-point-name {
    height: 80px;
    font-size: 14px;
    padding: 30px 0 15px;
    font-weight: 400;
    line-height: 1.2;
}

.widget-item-point-name a:visited {
    color: #333;
}

.widget-item-point-text {
    padding: 20px 0 15px;	
}

.widget-item-point-text a {
    color: #08d09a;
    transition: color 0.05s;
}

.widget-item-point-text a:hover {
    color: #f60;
}

.widget-item-point-price {
    font-size: 23px;
    padding-bottom: 5px;
    font-weight: bold;
    text-align: center;
}


.widget-item-day-block {
    margin: 0 auto 30px;
    background: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #e4e4e4;
    font-size: 14px;
    padding: 30px;
    width: 76%;
    padding-top: 30px;
    box-shadow: 1px 1px 5px 0 rgba(150, 150, 150, 0.2);
}

.widget-item-day-image {
    position: relative;
    height: 300px;
    text-align: center;
    overflow: hidden;
}

.widget-item-day-image img {
	width: auto;
	height: 100%;
}

.widget-item-day-point-name {
	font-size: 20px;
	padding: 30px 0 20px;
	font-weight: 400;
	line-height: 1.2;
}

.widget-item-point-name a:visited {
	color: #333;
}

.widget-item-day-price {
	font-size: 30px;
	font-weight: bold;
	text-align: center;
}

.widget-item-day-point-text {
	padding: 5px 0 20px;
	font-size: 16px;
}



.widget-news-item {
	min-height: 120px;
	margin: 0 0 30px;
	background: #fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-size: 12px;
	padding: 8px 8px 12px;
}

.widget-news-item-image {
	max-width: 90px;
	margin-right: 20px;
	float: left;
	width: 17%;
	/*width: 12%;*/
}

.widget-news-item-image img {
	width: 100%;
	height: auto;	
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

.widget-news-item-block {
	padding-top: 8px;
}

.widget-news-item-link{
	display: block;
	padding-bottom: 2px;
	font-size: 16px;
	transition: 0.15s;
	line-height: 1.3;
}

.widget-news-item-link:hover {
	color: #eb5;
}

.widget-news-item-date {
	font-size: 12px;	
	color: #888;
	padding-bottom: 8px;
	cursor: default;
	unselectable: on;
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;
}

.widget-news-item-text {
	width: 100%;
	float: left;
}





.breadcrumbs-path {
	list-style-type: none;
	margin-bottom: 20px;
}

.breadcrumbs-path > li {
	display: inline-block;
	font-size: 14px;
	color: #888;
}
	
.breadcrumbs-path > li > a {
	color: #888;
	transition: color 0.15s;
}	

.breadcrumbs-path > li > a:hover {
	/*color: #bbb;*/
	color: #333;
}

.breadcrumbs-divide {
    font-size: 14px;
    position: relative;
    top: -1px;
    padding: 0 2px;
    color: #888;
}	
	
.breadcrumbs-path > li, .breadcrumbs-divide {
    unselectable: on;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;	
}

.breadcrumbs-large-container {
    padding-bottom: 10px;
}
	
.footer-info {
    float: left;
    color: #fff;
    font-size: 14px;
}

.footer-paysistems {
    float: left;
    color: #fff;
    font-size: 14px;
    padding-left: 110px;
    text-align: center;
}

.footer-paysistems img {
    width: 70px;
    height: auto;
    margin: 0 10px;
}

.footer-paysistems p {
    padding-top: 14px;
}

.footer-info p {
    padding-top: 5px;
}

.footer-menu {
    float: right;
}

.footer-menu > ul {
    list-style-type: none;
}

.footer-menu > ul > li {
    height: 18px;
}

.footer-menu > ul > li > a {
	color: #fff;
	font-size: 14px;
}

.footer-menu > ul > li > a:hover {
	color: #ff9;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}
